root = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true

# Regras de estilo
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion

# Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Nomeclatura
dotnet_naming_rule.private_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case_style

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_fields.required_modifiers = readonly

dotnet_naming_style.camel_case_style.capitalization = camel_case